@media  only screen  and (max-width:200px) {
    .container{
      text-align: center;
      justify-content: center;
      grid-template-areas: 
      "logo logo logo logo"
      "logo1 logo1 logo1 logo1"
      "logo2 logo2 logo2 logo2";
    }
    .logo2{
      display: none;
    }
  
  }
@media only screen and (min-width:672px) and (max-width:950px)  {
    .container{
        text-align: center;
        justify-content: center;
        grid-template-areas: 
        "logo logo logo logo"
        "logo1 logo1 logo1 logo1"
        "logo2 logo2 logo2 logo2";
      }
      .logo2{
        display: none;
      }
    
}
@media only screen and (max-width:900px) {
    .container_1{
      display: grid;
       
          grid-template-areas: 
          "navbar navbar navbar navbar"
          "aside aside aside aside"
          "section section section section ";
          /* grid-template-columns: repeat(auto-fit, minmax(0px, 600px)); */
  }
  }