
.container{
  
    border: 2px solid black;
    border-radius: 10px;

}
#navbar{
    display:grid;
  border: 20px solid blue;
  text-align: center;
  justify-content:space-between;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
}
h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size:x-large;
  padding-top: 30px;
  
}
.sec{
  padding-bottom: 10px;
  text-align: center;
  justify-content: space-around;
    font-size: medium;
    font-weight: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    margin-top: 20px;
    display: grid;
    /* grid-template-columns:repeat(6,auto); */
    grid-gap: .5rem;
    /* border-radius: 5px; */
    grid-template-columns: repeat(auto-fit, minmax(0px, 300px)); 

}
.item{
  border: 2px solid black;
  padding: 1px;
  text-align: center;
  cursor: pointer;
  grid-gap: .5rem;
    border-radius: 5px;
    background-color: red;
    
}
.item:hover{
  background-color: rgb(27, 27, 159);
}

  .container_1{
    
    /* border: 2px solid red; */
    /* padding: 20px; */
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
    "navbar navbar navbar navbar"
    "  aside section  section section ";
    /* "aside aside aside aside";   */
    /* "footer footer footer footer"; */
    /* grid-template-columns: repeat(auto-fit, minmax(0px, 300px));  */
    
    
  }

nav {
  grid-area: navbar;
}
section {
  grid-area: section;
}
aside {
  grid-area: aside;
 }
 .brd {
  
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
}
 .top{
  text-align: center;
  /* border: 2px solid red; */
  /* background-color: pink; */
  
}

.leftLR{
  display: grid;
  grid: gap 2rem;
  cursor: pointer;
  /* grid-template-rows: repeat(8,1fr); */
}
.item3{
  /* border:2px solid red; */
  margin-right: 69%;
  text-align: left;
  display:grid;
  /* padding-left: 30px; */
  padding: 10px;

}
.item3:hover{
  background-color: red;
  border-radius: 5px;
}

h4{
  border: 2px solid black;
  background-color:red;
  border-radius: 5px;
  padding: 1px 1px 1px 1px;
  text-align: center;
}

 .right{
  display: grid; 
}
/* .righttop{
  border: 2px solid red;
background-color: rgb(15, 15, 135);
text-align: center;
border-radius: 5px;
} */
.box {
  background-color:rgb(29, 29, 146);
  border: 2px solid black;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  /* margin: 10px; */
  padding: 10px 10px;
  display: flex;
  flex-direction: column;

}
.box:hover{
  background-color: red;
}
.rightR{
  padding: 10px;
display: grid;
grid-gap: 1rem;
grid-template-columns: repeat(4, auto);
text-align: center;
grid-template-columns: repeat(auto-fit, minmax(0px, 300px)); 
text-align: center;
justify-content: space-around;

}
.box1{
  border: 2px solid black;
  background-color: rgb(94, 94, 229);
  border-radius: 5px;
  
}
.box2{
 
  border: 2px solid black;
  background-color: rgb(101, 90, 90);
  margin-top: 10px;
  border-radius: 5px;

}

.item1{
  display: grid;
  grid-gap: 1rem;
  border-radius: 5px;
  margin-left:35%;
  margin-right: 35%;

  grid-template-areas: 
  "div div div"
  "div div div";
  text-align: center;
  justify-content: center;
  
}
.item1:hover{
  background-color:rgb(211, 23, 23);
  cursor: pointer;

}
footer{
  background-color:rgb(81, 81, 131) ;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px ;
  margin-top: 10px;
  
}
@media only screen and (max-width:949px) {
  .container_1{
    display: grid;
     
        grid-template-areas: 
        "navbar navbar navbar navbar"
        "aside aside aside aside"
        "section section section section ";
        /* grid-template-columns: repeat(auto-fit, minmax(0px, 600px)); */
}
}

/* yeha se floating ke liye kr rhe h */


h3{
  font-feature-settings: "aalt";
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
}
.top{
  text-align: right;
  /* background-color: rgb(97, 194, 90); */
  /* border: 2px solid black; */
  border-radius: 10px;
  
  
 position: relative;
 /* animation-name: dk1; */
 animation-name: dk2;
 text-align: right;
 

 animation-duration: 10s;
 animation-iteration-count: 10;
 animation-fill-mode: alternate;
  /* animation-timing-function: ease-in-out;
  animation-delay: 3s; 
  animation-duration:alternate;
 animation-direction:alternate-reverse; */

 /* animation:
 /* yese alag alag likhne ki koi arurat nhi h ara ek sath likh sakte h  */
  /*animation-name animation-duration animation-timing-function animation-delay animation-iteration animation-fill-mode; */
 animation: dk2 10s  2s 2000 forwards;


}
 @keyframes dk2{
          0%{
              bottom: 0px;
              right: 0px;

          }
          25%{
              bottom: 0px;
              right: 10px;

          }
          50%{
              bottom: 0px;
              right: 0px;

          }
          100%{
              bottom: 0px;
            right: 100%;

          }
      }